<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
    <h1 align="center">Carrito</h1>
    <div align="center"> <img style="width:100px; height:100px;" src="{{url_for('static',filename='img/Carrito.png')}}"></div>
    <br>
    <div align="center"><table border="10">
        <th>Seleccionar</th>
        <th>Producto</th>
        <th>Unidades</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Fecha de registro</th>
        <th>Editar cantidad</th>
        <th>Eliminar articulo</th>
        {% for prod in carrito %}

        <tr>
            <td><input type="checkbox" name="idProducto"></td>
            <td>{{prod.producto.nombre}}</td>
            <td>{{prod.cantidad}}</td>
            <td>{{prod.producto.precio}}</td>
            <td>{{prod.producto.precioVenta * prod.cantidad}}</td>
            <td>{{prod.fecha}}</td>
            <td><div align ='center'> <img src="{{url_for('static',filename='img/editar.png')}}"></div></td>
            <td><div align ='center'> <img src="{{url_for('static',filename='img/eliminar.png')}}"></div></td>
        </tr>
        {% endfor %}
    </table>
    <br>
        <br><div align ="center"></div><a href="/consultaTarjetas"><button type="submit">Comprar carrito</button></a></div>
        <br>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
    </footer>
</body>
</html>