<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Categorias</title>
    
</head>
<body>


    <h1 align="center">Categorias</h1>
    <br>
    <table align="center" border="2">
        <th>idCategoria</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>estatus</th>
        <th>Modificar</th>
        <tr>
            <td>1</td>
            <td>Electrónicos</td>
            <td><a href="/Tarjetas/new"><img src="{{url_for('static',filename='img/Tarjeta.jpg')}}"></a></td>
            <td>Activo</td>
            <td><input type="submit" value="Modificar"></td>
        </tr>
    </table>
    <br>

    <div align="center"><input type="submit" value="Agregar Categoria"></div>
    <br>
    <br>
    <div align="center"><a href="javascript: history.go(-1)">Regresar</a></div>
    <br>

</body>
</html>