<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Productos</title>
   <script src="{{url_for('static',filename='JS/productos.js')}}"></script>
</head>
<nav>
    <h1 align="center">Productos</h1>
    <div align="center"><img style="width:100px; height:100px;" src="{{url_for('static',filename='img/usuarios.png')}}"></div>
</nav>
<body>
<form>
    <div align="center"><a href="/productos/new"><img src="{{url_for('static',filename='img/add.gif')}}">Registrar producto</a></div>
    <br>
    <table border="5" align="center">
        <th>IDProducto</th>
        <th>IdCategoria</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio Venta</th>
        <th>Existencia</th>
        <th>Foto</th>
        <th>Especificaciones</th>


        <!--<th>Contraseña</th>-->
        <th>Estatus</th>
        <th>Modificar</th>
        <th>Comprar</th>
        <!--<th>Eliminar</th>-->
        {% for p in productos%}
            <tr>
                <td>{{p.idProducto}}</td>
                <td>{{p.idCategoria}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.precioVenta}}</td>
                <td>{{p.existencia}}</td>
                <td>{{p.foto}}</td>
                <td>{{p.especificaciones}}</td>
                <td>{{p.estatus}}</td>
                <td><a href="/productos/{{p.idProducto}}"><img src="{{url_for('static',filename='img/editar.png')}}"></a></td>
                <td><a href="/cesta/agregar/{{p.idProducto}}"><img style="width:50px; height:50px;" src="{{url_for('static',filename='img/Carrito.png')}}"></a></td>
                <!--<td><a href="./eliminarUsuarios.html"><img src="{{url_for('static',filename='img/eliminar.png')}}"></a></td>-->
            </tr>
        {% endfor %}
    </table>
    <br>
    <div align="center"><a href="/"><button>Ir al inicio</button></a></div>
    <br>
    <div align="center"><a href="/cesta">Ver carrito</a></div>
    <footer>
        <br>
        <div align="center">Curso de verano 2021 Ⓡ</div>
    </footer>

</form>
</body>
</html>