<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <script src="{{url_for('static',filename='JS/global.js')}}"></script>
    <meta charset="UTF-8">
    <br>
    <title>Tarjetas</title>
</head>
<div>
    <h1 align="center">Tarjetas</h1>
    <div align="center"><img style="width:100px; height:100px;" src="{{url_for('static',filename='img/Tarjeta.jpg')}}"></div>
    <table align="center" border="2">
        <th>ID</th>
        <!--<th>Número de usuario</th>-->
        <th>Número de tarjeta</th>
        <th>Saldo</th>
        <th>Banco</th>
        <!--<th>Estatus</th>-->
        <th>Editar</th>
        <th>Eliminar</th>
        {% for Tar in Tarjetas %}
        <tr>
            <td>{{Tar.idTarjeta}}</td>
            <!--<td>{{Tar.idUsuario}}</td>-->
            <td>{{Tar.noTarjeta}}</td>
            <td>{{Tar.saldo}}</td>
            <td>{{Tar.banco}}</td>
            <!--<td>{{Tar.estatus}}</td>-->
            <td><a href="/Tarjetas/{{Tar.idTarjeta}}"><div align="center"><img src="{{url_for('static',filename='img/editar.png')}}"></div></a></td>
            <td><a href="javascript:eliminarTarjeta({{Tar.idTarjeta}})"><img src="{{url_for('static',filename='img/eliminar.png')}}"></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
</div>
    <div align="center"><a href="/Tarjetas/new">Registrar tarjeta</a></div>
    <br>
    <div align="center"><a href="/"><button>Ir al inicio</button></a></div>
    <footer>
        <br>
        <div align="center">Curso de verano 2021 Ⓡ</div>
    </footer>
</body>
</html>