<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <br>
    <title>Tarjetas</title>
</head>
<div>
    <h1 align="center">Tarjetas</h1>
    <table align="center" border="2">
        <th>id tarjeta</th>
        <th>Número de usuario</th>
        <th>Número de tarjeta</th>
        <th>Saldo</th>
        <th>Banco</th>
        <th>Estatus</th>
        <th>Ver detalles</th>
        {% for Tar in tarjetas %}
        <tr>
            <td>{{Tar.idTarjeta}}</td>
            <td>{{Tar.idUsuario}}</td>
            <td>{{Tar.noTarjeta}}</td>
            <td>{{Tar.saldo}}</td>
            <td>{{Tar.banco}}</td>
            <td>{{Tar.estatus}}</td>
            <td><a href="/Tarjetas/editarTarjeta"><img src="{{url_for('static',filename='img/ojo.png')}}"></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
</div>
    <div align="center"><a href="/Tarjetas/new">Registrar tarjeta</a></div>
    <br>
    <div align="center"><a href="/"><button>Ir al inicio</button></a></div>
    <footer>
        <br>
        <div align="center">Curso de verano 2021 Ⓡ</div>
    </footer>
</body>
</html>