<!Doctype HTML>
<HTML LANG="ES">
    <HEAD>
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
        <meta charset="utf-8">
        <title>Editar tarjeta</title>
    </HEAD>
    <body>
        <p align="center"><b>Actualizar tarjeta</b></p>
        <div align="center"><img src="{{url_for('static',filename='img/Tarjeta.jpg')}}"></div>
        <br>
        <form align="center" action="/Tarjeta/editar"  method="post">
            <!-- Datos que no se muestran -->
            <div style="display:none">
               <label>ID:</label>
                <br>
                <input type="number" readonly name="idTarjeta" value="{{Tar.idTarjeta}}">
                <br>
                <label>Numero de usuario:</label>
                <br>
                <input type="text" name="idUsuario" value="{{Tar.idUsuario}}" readonly>
                <br>
                <label>Estatus:</label>
                <br>
                <input type="text" name="estatus" value="{{Tar.estatus}}" readonly>
            </div>

            <label>Numero de tarjeta:</label>
            <br>
            <input type="text" name="noTarjeta" value="{{Tar.noTarjeta}}">
            <br>
            <label>Saldo:</label>
            <br>
            <input type="number" name="saldo" value="{{Tar.saldo}}">
            <br>
            <label>Banco:</label>
            <br>
            <input type="text" name="banco" value="{{Tar.banco}}">
            <br>


            <br>
            <br>
            <a href="/consultaTarjetas"><button type="submit">Guardar</button></a>
            <br>
            <br>
            <div align="center"><a href="/">Ir al inicio</a></div>
        </form>
    </body>
</HTML>