<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <br>
    <title>Tarjetas</title>
</head>
<body>
    <h1 align="center">Tarjetas</h1>
    <div align="center"><table border="2">
        <th>id tarjeta</th>
        <th>Número de usuario</th>
        <th>Número de tarjeta</th>
        <th>Saldo</th>
        <th>Banco</th>
        <th>Estatus</th>
        <th>Editar tarjeta</th>
        <th>Eliminar Tarjeta</th>
        <tr>
            <td>1</td>
            <td>123</td>
            <td>4598712365478952</td>
            <td>$10,000</td>
            <td>BBVA</td>
            <td>Verificada</td>
            <td><a href="/Tarjetas/editarTarjeta"><img src="{{url_for('static',filename='img/editar.png')}}"></a></td>
            <td><a href="/Tarjetas/eliminarTarjeta"><img src="{{url_for('static',filename='img/eliminar.png')}} "></a></td>
        </tr>
    </table>
        <div align="right"><a href="/Tarjetas/new">Registrar tarjeta</a></div>
        <br>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
    </footer>
</body>
</html>