<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Editar usuario</title>
</head>
<body>
    <main>
        <section>
            <h1 align="center">Editar usuario</h1>
            <div align="center"><img style="width:120px; height:120px;" src="{{url_for('static',filename='img/usuariosEdit.png')}}"></div>
            <form method="post" action="/usuarios/edit">
                <div id="datosPersonales" align="center">
                    <fieldset>
                        <legend>Datos del usuario</legend>
                        <label>ID usuario:</label>
                        <input type="number" name="idUsuario" readonly value="{{usuario.idUsuario}}">
                        <br>

                        <label>Nombre:</label>
                        <input type="text" name="nombre" value="{{usuario.nombreCompleto}}">
                        <br>

                        <label>Dirección:</label>
                        <input type="text" name="direccion" value="{{usuario.direccion}}">
                        <br>

                        <label>Teléfono:</label>
                        <input type="text" name="telefono" value="{{usuario.telefono}}">
                        <br>
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                        <label>Email:</label>
                        <input type="email" name="email" value="{{usuario.email}}">
                        <br>
                        {% endif %}
                        <label>Contraseña:</label>
                        <input type="password" name="password" value="{{usuario.contrasena}}">
                        <br>


                        {% if current_user.is_authenticated and current_user.is_admin() %}
                        <label>Tipo:</label>
                        <br>
                        <select name="tipo">
                            {% if usuario.tipo=='Comprador' %}
                            <option value="Comprador" selected>Comprador</option>
                            {% else %}
                            <option value="Comprador">Comprador</option>
                            {% endif %}
                            {% if usuario.tipo=='Vendedor' %}
                            <option value="Vendedor" selected>Vendedor</option>
                            {% else %}
                            <option value="Vendedor">Vendedor</option>
                            {% endif %}
                            {% if usuario.tipo=='Administrador' %}
                            <option value="Administrador" selected>Administrador</option>
                            {% else %}
                            <option value="Administrador">Administrador</option>
                            {% endif %}
                        </select>

                        <br>
                        {% endif %}
                        <br>

                        <a href="/">Cancelar</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/usuarios"><button type="submit">Guardar admin</button></a>
                    </fieldset>
                    </div>
                 </form>
        </section>
    </main>
        <footer>
            <br>
            <div align="center">Curso de verano 2021 Ⓡ</div>
        </footer>
</body>
</html>