<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../plantilla/bootstrap.min.css">
    <script src="../bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="../JS/Usuario.js"></script>
    <meta charset="UTF-8">
    <title>ProgrammerPancho</title>
</head>
<body>
    <header>
        INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
    </header>
    <main>
        <section>
            <h1>REGISTRO DE USUARIOS</h1>
            <form onsubmit="return validar(this)">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>Datos del usuario</legend>

                        <label>ID usuario:</label>
                        <input type="number" name="idUsuario" required>
                        <br>

                        <label>Nombre:</label>
                        <input type="text" name="nombre" required>
                        <br>

                        <label>Sexo:</label>
                        <input type="checkbox" name="sexo">Hombre
                        <input type="checkbox" name="sexo">Mujer
                        <br>

                        <label>Teléfono:</label>
                        <input type="number" name="teléfono" required>
                        <br>

                        <label>Email:</label>
                        <input type="email" name="email" required>
                        <br>

                        <label>Estatus:</label>
                        <input type="checkbox" name="estatus">Activo
                        <input type="checkbox" name="estatus">Inactivo
                        <br>

                        <label>Tipo:</label>
                        <input type="checkbox" name="tipo">Docente
                        <input type="checkbox" name="tipo">Alumno
                        <input type="checkbox" name="tipo">Comité
                        <br>

                        <label>Contraseña:</label>
                        <input type="password" name="contraseña" required>
                        <br>

                        <button>Cancelar</button>
                        <button type="submit">Guardar</button>
                        <div id="notificaciones"></div>
                    </fieldset>
                    </div>
                 </form>
            <a href="javascript: history.go(-1)">Regresar</a>
        </section>
    </main>
    <footer>
        Elaborado por Francisco Hdez
    </footer>
</body>
</html>