<!Doctype HTML>
<HTML LANG="ES">
    <HEAD>
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
        <meta charset="utf-8">
        <title>Login</title>
    </HEAD>
    <body> <!--background="{{url_for('static',filename='img/fondo.png')}}"-->
        <p align="center"><b>Acceso a ShopItesz</b></p>
        <div align="center"><img style="width:200px; height:200px;" src="{{url_for('static',filename='img/login.png')}}"></div>
        <br>
        <br>
        <form align="center" action="/Usuarios/validarSesion" method="post">
            <label>Email:</label>
            <br>
            <input type="email" name="email">
            <br>
            <label>Contraseña:</label>
            <br>
            <input type="password" name="pwd">
            <br>
            <br>
            <button type="submit">Entrar</button>
            <br>
            <div><font color="red">{{mensaje}}</font></div>
            <br>
            <a href="/usuarios/new">Registrar Cuenta</a>
        </form>
        <footer>
            <br>
            <div align="center">Curso de verano 2021 Ⓡ</div>
        </footer>
    </body>
</HTML>