<!Doctype HTML>
<HTML LANG="ES">
    <HEAD>
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
        <meta charset="utf-8">
        <title>Principal</title>


        <style>


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

h5 {

  text-align: center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
    </HEAD>
    <body> <!--background="{{url_for('static',filename='img/fondo.png')}}"-->
    <p align="center"><font size=7><b>SHOPITESZ</b></font></p>
<ul>
  <li><a href="categorias">Categorias</a></li>
    {% if current_user.is_authenticated and current_user.is_comprador() %}
    <li><a href="/consultaTarjetas">Tarjetas</a>
        <li><a href="/cesta">Carrito</a></li>
    {% endif %}
    <li><a href="/productos">Productos</a></li>

    {% if current_user.is_authenticated and current_user.is_admin() %}
    <li><a href="/usuarios">Usuarios</a> </li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <li><a href="/pedidos">Pedidos</a> </li>
    {% endif %}
    {% if not current_user.is_authenticated %}
  <li><a href="login">Iniciar sesión</a></li>
  <li><a href="usuarios/new">Registrate ahora!</a></li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <li><a href="/Usuarios/cerrarSesion"><font color="red"> Cerrar Sesion </font> </a></li>
    {% endif %}
    <li>
              <a href="/usuarios/{{current_user.idUsuario}}">
                {{current_user.nombreCompleto}}
              </a>
    </li>
</ul>


        <br>

    <H3 align="center">Bienvenido a SHOPITESZ</H3><br>
    <H5 align="center">A continuación se mostrará como utilizar la página!</H5><br>

    <br>
<div style="width: 50%; float:left">
   <h3 align="center">Categorias</h3><br>

    <h5>Aquí podras observar</h5><br>
    <h5>los distintos tipos</h5><br>
    <h5>de productos.</h5>
</div>

<div style="width: 50%; float:right">
   <h3 align="center">Registro</h3>
</div>







        <br>

    </body>
</HTML>