<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
    <h1 align="center">Carrito</h1>
    <div align="center"> <img style="width:100px; height:100px;" src="{{url_for('static',filename='img/Carrito.png')}}"></div>
    <br>
    <div align="center"><table border="10">
        <th>Numero de carrito</th>
        <th>Número de usuario</th>
        <th>Número de producto</th>
        <th>Fecha</th>
        <th>Cantidad de productos</th>
        <th>Estatus</th>
        <th>Editar cantidad</th>
        <th>Eliminar articulo</th>
        <tr>
            <td>1</td>
            <td>123</td>
            <td>54</td>
            <td>12/05/2021</td>
            <td>15</td>
            <td>Disponible</td>
            <td><div align ='center'> <img src="{{url_for('static',filename='img/editar.png')}}"></div></td>
            <td><div align ='center'> <img src="{{url_for('static',filename='img/eliminar.png')}}"></div></td>
        </tr>
    </table>
    <br>
        <br><div align ="center"></div><a href="/Tarjetas"><button type="submit">Comprar carrito</button></a></div>
        <br>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
    </footer>
</body>
</html>