<!doctype html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta charset="UTF-8">
    <title>Detalles del pedido</title>
</head>
<body>
    <h1 align="center">Detalles del pedido</h1>
    <table border="1">
        <th>Número de detalle</th>
        <th>Número de pedido</th>
        <th>Número de producto</th>
        <th>Precio</th>
        <th>Cantidad pedida</th>
        <th>Cantidad enviada</th>
        <th>Cantidad aceptada</th>
        <th>Cantidad rechazada</th>
        <th>Subtotal</th>
        <th>Estatus</th>
        <th>Comentarios</th>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>55.00</td>
            <td>50</td>
            <td>60</td>
            <td>50</td>
            <td>10</td>
            <td>2,750.00</td>
            <td>C</td>
            <td>El pedido está completo</td>
        </tr>
    </table>
    <a href="javascript: history.go(-1)">Regresar</a>
    <footer>
    </footer>
</body>
</html>